body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #edf2f4;
}
.main_container{
    margin: auto;
    width: 600px;
    background-color: white;
}
.gift_img{
    width:  600px;
}
.wishes{
    background-color: white;
    opacity: 0.8;
    padding: 20px 30px 20px 30px;
    font-size: 50px;
    position: absolute;
    transform: translate(80px, -230px);
    border-radius: 10px;
    color:#b7094c;
    font-weight: 700;
}
.information{
    text-align: center;
    font-size:20px;
    font-weight: 500;
}
.grid_container{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    grid-column-gap: 44px;
    grid-row-gap: 0px;
    margin-left: 26px;
    margin-right: 26px;
}
.gift,.berry{
     width: 252px;
     display: block;
     margin:  auto;
}
.berry_info,.gift_info{
    color: white;
    background-color: #b7094c;
     font-size:15px;
     text-align: center;
     padding-top:10px;
     padding-bottom: 10px;
     margin: 0px;
}
.bold_text{ 
    font-size: 18px;
    font-weight: 500;
}
button{
    border: 3px solid #b7094c;
    color: #b7094c;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    background-color: white;
}
.button{
    text-align: center;
    margin-top: 12px;
}
.icon_container{
    background-color: #b7094c;
    margin-top: 25px;
    padding-bottom: 5px;
}
.follow_request{
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    transform: translateX(8px);
}
li {
    display: inline-block;
    padding-right: 5px;
}
.icon{
    width: 35px;
}
.list{
    text-align: center;
}
.footer{
    text-align: center;
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 20px;
}
.footer_link{
    color: black;
    font-size: 11px;
}